---
layout: base
---

<!-- Banner --> 
6 <div class="jumbotron"> 
7 	<div class="container text-center"> 
8 		{% if site.jumbotron_image %} 
9 		<img src="{{ site.baseurl }}/img/{{ site.jumbotron_image }}" alt="{{ site.title }} Icon" /> 
10 		{% endif %} 
11 		<header> 
12 			<h1>{{ site.data.course.description }}</h1> 
13 		</header> 
14 		<br /> 
15 		<p> 
16 			<a class="btn btn-primary btn-lg" 
17 			   href="{{site.baseurl}}/modules/start/about-this-lab/"> 
18 			   <i class="fa fa-check-circle"></i> Begin This Course 
19 			</a> 
20 		</p> 
21 
 
22 		<h3> 
23 			{% for author in site.data.course.authors %} 
24 				{{author}} 
25 			{% endfor %} 
26 			<br /><br /> 
27 			built on <a href="http://p2pu.org" class="dotted">P2PU</a>'s 
28 			<a class="dotted" href="http://howto.p2pu.org/">Course in a Box</a>. 
29 		</h3> 
30 		<br /> 
31 		<p> 
32 			<a class="btn btn-danger btn-lg" 
33 			   href="{{site.baseurl}}/modules/feedback/your-own-course/"> 
34 				<i class="fa fa-code-fork"></i> Start Your Own Course 
35 			</a> 
36 		</p> 
37 
 
38 	</div> 
39 
 
40 </div> 
41 <div class="container"> 
42 	<div class="clearfix"> 
43 		<div class="col-md-8 col-md-offset-2"> 
44 			<section> 
45 				{{ content }} 
46 			</section> 
47 		</div> 
48 	</div> 
49 </div> 
